:root {
  --shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  --code: 'Source Code Pro', monospace;
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

@media (max-width: 900px) {
  body {
    background-size: 250vw !important;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-position: top !important;
    background-size: 200vh !important;
  }

  .container {
    width: 80% !important;
    margin: 0 auto !important;
    align-items: center !important;
    padding: 0 !important;
  }

  .header {
    margin: 0 auto !important;
    width: 88% !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .content {
    width: 100% !important;
  }
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

body {
  background-color: rgb(239, 243, 247);
  background-image: url('./img/bg.svg');
  background-repeat: no-repeat;
  background-size: 150vw;
  color: #222;
  margin: 0;
  padding: 0;
  margin: 60px 0;
}

.header {
  display: flex;
  width: 600px;
  margin: auto;
  margin-bottom: 9px;
  align-items: center;
}

.container {
  width: 600px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: white;
  margin: 5px 0;
  padding: 15px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  overflow-wrap: break-word;
}

.user {
  position: fixed;
  display: flex;
  align-items: center;
  top: 25px;
  right: 25px;
}

.p-small {
  color: #fff;
  opacity: 0.8;
  text-align: center;
  font-size: 12px;
  margin: 0 10px;
}

.chat {
  z-index: 1;
  bottom: 50px;
  right: 50px;
  position: fixed;
}

.bg {
  background-color: #ffffff;
}

.circle {
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.chat-window {
  z-index: -5;
  width: 260px;
  bottom: 30px;
  right: 80px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  transform-origin: right;
}

.chat-icon {
  transition: all 0.2s !important;
}

.chat-icon:hover {
  transform: scale(1.2) !important;
}

.close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

code {
  font-family: var(--code);
  font-size: 12px;
  color: #222;
}

h1,
h3,
p {
  margin: 0;
  color: #222;
}

.error {
  animation-name: error;
  animation-duration: 5s;
  transition: ease-in-out;
}

@keyframes error {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-30px);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0px);
  }
}