:root {
  --shadow: 1px 2px 10px 0 rgba(0,0,0,.05);
  --code: 'Source Code Pro', monospace;
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-position: top !important;
    background-size: auto !important;
  }
  .container, .header {
    width: 80% !important;
    margin: 0 auto !important;
    align-items: center !important;
    padding: 0 !important;
  }
  .content {
    width: 100% !important;
  }
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

body {
  background-color: rgb(239, 243, 247);
  background-image: url('./img/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: #222;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}
.header {
  display: flex;
  width: 600px;
  margin: auto;
  margin-bottom: 8px;
  align-items: center;
}

.container {
  width: 600px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.content {
  background-color: white;
  opacity: .97;
  margin: 5px 0;
  padding: 15px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  overflow-wrap: break-word;
}
code {
  font-family: var(--code);
  font-size: 12px;
  color: #222;
}

h1, h3, p {
  margin: 0;
  color: #222;
}
h2 {
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.error {
  animation-name: error;
  animation-duration: 5s;
  transition: ease-in-out;
}
@keyframes error {
  0% { transform: translateX(0px)}
  25% { transform: translateX(-30px)}
  50% { transform: translateX(30px)}
  100% { transform: translateX(0px)}
}